<h1>{{context.username}}'s Feed</h1>

{% if context.message %}
    <div class="message">
        {{context.message}}
    </div>
{% endif %}

<ul class="feed">
    {% for feed_item in context.feed_items %}
        <li class="feed-item">
            {{feed_item.description}}
        </li>
    {% endfor %}
</ul>

<ul>
    {% for friend in context.friends %}
        <a href="/user/profile/{{friend.username}}">
            <img src={{friend.image.url}}>
            {{friend.username}}
        </a>
    {% endfor %}
</ul>

<form method="post">
    {% csrf_token %}
    {{ context.feed_item_form.as_p }}
    <button type="submit">Submit</button>
</form>